<launch>
    <node pkg="localization" type="_localization" name = "Gps" output = "screen"/>
        <param name="serial_port_name" value="/dev/ttyACM0" />
        <param name="receive_hz" value="50" />
        <param name="enable_log" value="0" />
        <param name="track_trajectory_file" value="/home/nvidia/tmp/" />
</launch>

